.container {
  position: sticky;
  z-index: 10;
  top: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  border: 1px solid var(--grey-10);
  border-radius: 0.25rem;
  font-size: 14px;
  letter-spacing: 0.08em;
  background-color: var(--black);
}

.button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: transparent;
  font-family: inherit;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
  text-align: center;
  appearance: none;
}
