.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.5rem;
  gap: 1.5rem;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 100%;
  text-align: left;
  flex-grow: 1;
  position: relative;
}

.table thead th {
  color: var(--grey-10);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.table thead th:nth-child(1) {
  width: 2rem;
}

.table thead th:nth-child(3),
.table thead th:nth-child(4) {
  width: 8rem;
}

.table tbody td {
  padding: 0.5rem 0;
}

.collection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.collection .image img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.actions {
  display: flex;
  gap: 1rem;
}

.table .spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .header,
  .actions {
    gap: 1rem;
    align-items: flex-start;
    flex-direction: column;
  }

  .table thead th,
  .table td {
    font-size: 13px;
  }

  .table thead th:last-child,
  .table td:last-child {
    display: none;
  }

  .table thead th:nth-child(3) {
    width: 6rem;
  }

  .table thead th:nth-child(3),
  .table td:nth-child(3) {
    text-align: right;
  }
}
