.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0.5rem;
  gap: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.table {
  width: 100%;
  text-align: left;
}

.table thead th {
  color: var(--grey-10);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.table tbody td {
  padding: 0.5rem 0;
}

.collection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.collection .image img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.actions {
  display: flex;
  gap: 1rem;
}
