:root {
  --blue: #1100ff;
  --black: #000;
  --white: #fff;
  --grey-10: #999999;
  --grey-30: #808080;
  --grey-20: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--white);
  background-color: var(--black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  max-width: 960px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
